$breakpoint-sm: 360px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 1000px !default;
$breakpoints: (
  'sm': 'screen and (min-width: 360px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
)
!default;
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
/*ベースの文字サイズpc*/
@mixin lg-title {
  font-size: 4.7rem;
  line-height: 6rem;
}
@mixin lg-sub-title {
  font-size: 1.5rem;
  line-height: 2.8rem;
}
@mixin lg-text {
  font-size: 1rem;
  line-height: 1.5rem;
}
/*ベースの文字サイズtablet*/
@mixin md-title {
  font-size: 3.8rem;
  line-height: 4.5rem;
}
@mixin md-sub-title {
  font-size: 1.3rem;
  line-height: 1.8rem;
}
@mixin md-text {
  font-size: 1.1rem;
  line-height: 1.5rem;
}
/*ベースの文字サイズsp*/
@mixin sm-title {
  font-size: 2.3rem;
  line-height: 3.8rem;
}
@mixin sm-sub-title {
  font-size: 1.2rem;
  line-height: 1.7rem;
}
@mixin sm-text {
  font-size: 1rem;
  line-height: 1.5rem;
}
$theme-color: #e7488a;

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  color: #333;
}

body {
  text-align: center;
}

a {
  text-decoration: none;
  color: #333;
}

.header {

  background-color: $theme-color;
  height: 100vh;
  position: relative;

  .header-content {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    a {
      color: #eee;
    }
    h1.logo {
      color: #eee;
      @include mq(sm) {
        font-size: 4rem;
        line-height: 4.5rem;
        margin-bottom: 1rem;
      };
      @include mq(md) {
        font-size: 5rem;
        line-height: 5.5rem;
        margin-bottom: 2rem;
      };
      @include mq(lg) {
        font-size: 6rem;
        line-height: 7rem;
        margin-bottom: 3rem;
      };
    }

    nav {
      width: 100%;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        letter-spacing: 0.1rem;

        .nav-svg {
          float: left;
          display: block;
          margin-bottom: 2rem;
          @include mq(sm) {
            width: 27%;
          };
          @include mq(md) {
            width: 27%;
          };
          @include mq(lg) {
            width: 17%;
          };
        }
      }
    }
  }
}

.wrapper {
  width: 100%;
  margin: auto;
}

.js-animation {
  transform: matrix(0.8,0,0,0.8,0,50);
  transition: all 0.35s cubic-bezier(1,2.02,.94,.69);
}

.is-show {
  transform: matrix(1,0,0,1,0,0);
}

.rotate-animation {
  display: inline-block;
}

.rotate-animation:hover {
  animation: rotate 1.5s infinite;
}
@keyframes rotate {
  25% {
    transform: rotateZ(10deg);
  }

  50% {
    transform: rotateZ(0deg);
  }

  75% {
    transform: rotateZ(-10deg);
  }
}
/*section*/
.section {
  //margin: 6rem 0;
  //padding: 2rem 0;
  padding: 10%;
}

hr.dashed {
  background-color: #eee;
  border-top: 2px dashed $theme-color;
}

.sectin-top-wrapper {
  margin: 2rem 0;

  .section-title {
    font-size: 4rem;
  }

  .svg-circle {
    margin: 1rem;
  }

  .section-sub-title {
    margin: auto;
    @include mq(sm) {
      @include md-sub-title width: 80%;
    };
    @include mq(md) {
      @include md-sub-title width: 80%;
    };
    @include mq(lg) {
      @include lg-sub-title width: 30%;
    };
  }

  .section-sub-text {
    width: 30%;
    margin: auto;
    @include mq(sm) {
      @include md-text width: 80%;
    };
    @include mq(md) {
      @include md-text width: 80%;
    };
    @include mq(lg) {
      @include lg-text width: 30%;
    };
  }
}
/*section service*/
.service-contents {

  @include mq(sm) {
    margin: 2rem;
  };
  @include mq(md) {
    display: flex;
    justify-content: space-between;
  };
  @include mq(lg) {
    display: flex;
    justify-content: space-between;

  };

  .service-right {
    @include mq(sm) {
      margin: 1rem;
      width: 90%;
    };
    @include mq(md) {
      float: right;
      width: 45%;
    };
    @include mq(lg) {
      float: right;
      width: 45%;
    };
  }

  .service-left {
    @include mq(sm) {
      margin: 1rem;
      width: 90%;
    };
    @include mq(md) {
      float: left;
      width: 45%;
    };
    @include mq(lg) {
      float: left;
      width: 45%;
    };
  }

  .service-visual {
    display: flex;
    align-items: center;

    .svg {
      display: block;
      margin: auto;
    }
  }

  .service-description {
    display: block;
    margin: auto;

    h2.service-title {
      @include mq(sm) {
        @include sm-title
      };
      @include mq(md) {
        @include md-title;
        text-align: left;
      };
      @include mq(lg) {
        @include lg-title;
        text-align: left;
      };
    }

    .service-sub-title {
      @include mq(sm) {
        @include sm-sub-title
      };
      @include mq(md) {
        @include md-sub-title;
        width: 100%;
        text-align: left;
      };
      @include mq(lg) {
        @include lg-sub-title;
        width: 100%;
        text-align: left;
      };
    }

    .service-text {
      @include mq(sm) {
        @include sm-text
      };
      @include mq(md) {
        @include md-text;
        width: 100%;
        text-align: left;
      };
      @include mq(lg) {
        @include lg-text;
        width: 100%;
        text-align: left;
      };
    }
  }
}
/*section event*/
.section-event {
  background: url("data:image/svg+xml;charset=utf-8,%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 2 2' preserveAspectRatio='none'%3e%3cg transform='matrix(0-1 1 0 0 2)'%3e%3cpath fill='%23e7488a' d='M-1-1v4h4v-4z'/%3e%3cpath fill='none' stroke='%23ffffff' stroke-width='.11' opacity='.02' d='M1-1-2 2M2-1l-4 4M3-1l-4 4M3 0l-4 4M3 1 1 3'/%3e%3c/g%3e%3c/svg%3e");
  color: #eee;
}

.event-wrapper {
  width: calc(100vw * 70%);
  margin: auto;
  @include mq(sm) {
    
  };
  @include mq(md) {
    display: flex;
    justify-content: space-between;    
  };
  @include mq(lg) {
    display: flex;
    justify-content: space-between;    
  };

  .event-contents {
    @include mq(sm) {
      width: 80%;  
      margin: 1.5rem auto;
    };
    @include mq(md) {
      width: 30%;  
    };
    @include mq(lg) {
      width: 30%;  
    };
    

    .event-visual img {
      margin-bottom: 1.5rem;
      @include mq(sm) {
        height: 15rem;
        width: 15rem;
      };
      @include mq(md) {
        height: 12rem;
        width: 12rem;
      };
      @include mq(lg) {
        height: 15rem;
        width: 15rem;
      };
    }

    .event-title {
      @include mq(sm) {
        @include sm-sub-title
      };
      @include mq(md) {
        @include md-sub-title
      };
      @include mq(lg) {
        @include lg-sub-title
      };
    }

    .event-text {
      @include mq(sm) {
        @include sm-text
      };
      @include mq(md) {
        @include md-text
      };
      @include mq(lg) {
        @include lg-text
      };
    }
  }
}
/*section web*/
.section-web {
  //background-color: $theme-color;
}

.web-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  padding: 5% 5% 0;

  .gray {
    background-color: #f0f0f0;
  }

  .light-gray {
    background-color: #f0f0f0;
  }

  .web-contents {
    padding: 2rem 0;
    margin-bottom: 2%;
    @include mq(sm) {
      width: 90%;
    };
    @include mq(md) {
      width: 48%;
    };
    @include mq(lg) {
      width: 48%;
    };

    .web-visual img {
      height: auto;
      margin: 20px;
      @include mq(sm) {
        width: 70%;
      };
      @include mq(md) {
        width: 30vw;
      };
      @include mq(lg) {
        width: 30vw;
      };
    }

    .web-title {
      @include mq(sm) {
        @include sm-sub-title
      };
      @include mq(md) {
        @include md-sub-title
      };
      @include mq(lg) {
        @include lg-sub-title
      };
    }

    .web-text {
      width: 70%;
      margin: auto;
      @include mq(sm) {
        @include sm-text
      };
      @include mq(md) {
        @include md-text
      };
      @include mq(lg) {
        @include lg-text
      };
    }
  }
}
/*section special*/
.section-special {
  background: url("data:image/svg+xml;charset=utf-8,%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 2 2' preserveAspectRatio='none'%3e%3cg transform='matrix(0-1 1 0 0 2)'%3e%3cpath fill='%23e7488a' d='M-1-1v4h4v-4z'/%3e%3cpath fill='none' stroke='%23ffffff' stroke-width='.11' opacity='.02' d='M1-1-2 2M2-1l-4 4M3-1l-4 4M3 0l-4 4M3 1 1 3'/%3e%3c/g%3e%3c/svg%3e");
  color: #eee;
  .special-more-wrapper{
    
        @include mq(sm) {
          text-align: center;
        };
        @include mq(md) {
          text-align: center;
        };
        @include mq(lg) {
          text-align: right;
        };

    
    width: 100%;
    .special-more {
      display: block;
      background-color: #eee;
      text-align: center;
      padding: 1rem;
      @include mq(sm) {
        width: 80%;
        margin: 2rem auto 2rem;
      };
      @include mq(md) {
        width: 80%;
        margin: 2rem auto 2rem;
      };
      @include mq(lg) {
        width: 20%;
        margin: 2rem 0 2rem auto;
      };
      &:hover{
        transition: all 0.6s;
        transform: scale(1.05,1.05);
      }

      a {
          color: #333;
          p{
            display: block;
          }
      }
    }
    
  }


  .special-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: auto;
    background-color: #eee;
    color: #333;
    width: 100%;
    margin: auto;
    padding: 1rem;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.2));

    .special-contents {
      display: inline-block;
      margin: 0.5rem;

      &:hover {
        transition: all 0.6s;
        transform: scale(1.05,1.05);
      }

      .special-visual img {
        height: auto;
        @include mq(sm) {
          margin: 0.5rem;
          width: 30vw;
        };
        @include mq(md) {
          margin: 1rem;
          width: 30vw;
        };
        @include mq(lg) {
          margin: 1rem;
          width: 30vw;
        };
      }

      .special-description {
        margin: 1rem;

        .special-title {
          @include mq(sm) {
            @include sm-sub-title;
          };
          @include mq(md) {
            @include md-sub-title;
          };
          @include mq(lg) {
            @include lg-sub-title;
          };
        }

        .special-text {
          margin: auto;
          @include mq(sm) {
            @include sm-text;
            width: 100%;
          };
          @include mq(md) {
            @include md-text;
            width: 80%;
          };
          @include mq(lg) {
            @include lg-text;
            width: 70%;
          };
        }
      }
    }
  }
}
/*section more*/
.section-more {
  .more-contents-top {
    border: dashed 1px $theme-color;
    @include mq(sm) {
      @include sm-text
      padding: 1rem;
      margin: 2rem 1rem;
    };
    @include mq(md) {
      @include md-text
      padding: 2.5rem;
      margin: 2rem;
    };
    @include mq(lg) {
      @include lg-text
      padding: 2.5rem;
      margin: 2rem;
    };
    position: relative;
  }


  .more-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    .more-contents {
      margin: 2rem auto;
      @include mq(sm) {
        width: 80%;
      };
      @include mq(md) {
        width: 80%;
      };
      @include mq(lg) {
        width: 47%;
      };

      .more-visual img {
        margin-bottom: 1.5rem;
        height: auto;
        @include mq(sm) {
          width: 100%;
        };
        @include mq(md) {
          width: 100%;
        };
        @include mq(lg) {
          width: 38vw;
        };
      }

      .more-title {
        @include mq(sm) {
          @include sm-sub-title
        };
        @include mq(md) {
          @include md-sub-title
        };
        @include mq(lg) {
          @include lg-sub-title
        };
      }

      .more-text {
        @include mq(sm) {
          @include md-text
        };
        @include mq(md) {
          @include md-text
        };
        @include mq(lg) {
          @include lg-text
        };
      }
    }
  }
}
/*footer*/
footer{
  background-color: $theme-color;
  padding: 0.5rem;
  color: #eee;
}